#my test environnement: 
# Ubnutnu 16.04
# python3.5  

# First make sure to have ro to update pip3:
#     $ sudo pip3 install --upgrade pip3

##### line extraction 
matplotlib 
cv2 
numpy
moviepy
IPython


## traffic sign classifer 
cv2
pickle
numpy
matplotlib
IPython 

# for car detetction 
numpy 
cv2
glob
matplotlib
importlib
skimage
sklearn
pickle
imath
scipy
moviepy
IPython
import ffmpeg_extract_subclip
